@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  max-width: 1920px;
  margin: 0 auto;

}

a {
  text-decoration: none;
  color: inherit;
}

.container-header {
  position: relative;
  max-width: 1920px;
  height: 850px;
  background-image: url(assets/bg-header.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    height: auto;
  }
  @media (max-width: 500px) {
    background: #FFFFFF;
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  max-width: 1920px;
  min-height: 100px;
  background: rgba(16, 16, 29, 0.9);
  box-sizing: border-box;
  z-index: 2;

  @media (max-width: 768px) {
    min-height: 60px;
  }

   &__wrap {
    display: flex;
    max-width: 1172px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      display: block;
    }
   }

   &__logo {
    margin-left: 30px;
    margin-right: 30px;
    width: 246px;
    height: 22px;

    @media (max-width: 400px) {
      margin-left: 0px;
      margin-right: 0px;
      width: 170px;
    }
   }

   &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 435px;
    height: 100%;
    margin-right: 30px;

    @media (max-width: 768px) {
      display: none;
    }
   }

   &__item {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color .2s ease-in;

    &:hover,
    &:focus {
      color: #43ABF0;
    }

    &--active {
      color: #43ABF0;
    }
   }
}

// NAV MOBILE

.header__burger {
  display: flex;
 
  @media (max-width: 768px) {
    height: 60px;
    padding: 0 30px;
    align-items: center; 
    justify-content: space-between;
  }
}

.header__menu-mobile {
  width: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 1;

  @media (max-width: 768px) {
    display: none;
  }
}

.header__item-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(15, 13, 37, 0.6901960784);
}

.header__item-mobile--first {
  position: relative;
}

.item-wrap {
  position: absolute;
  right: 0;
}

// бургер

.wrapper-menu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;

  @media (max-width: 768px) {
    display: flex;
  }
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

// показывает скрытое меню
.visual-js {
  display: block;
}

// 
.container-info {
  max-width: 1172px;
  margin: 0 auto;
  padding-top: 203px;
  padding-bottom: 40px;

  @media (max-width: 768px) {
    padding-top: 110px;
  }
}

.info {
  margin: 0 30px;

  &__title {
    max-width: 720px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
    }

    span {
      color: #3E9CDC;
    }
  }

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 80px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    @media (max-width: 500px) {
      font-size: 18px;
      margin-bottom: 40px;
    }

    li {
      &::before {
        content: " - ";
      }
    }
  }

  .btn {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-out;

    &__order {
      width: 183px;
      height: 43px;
      margin-right: 30px;
      background: #3E9CDC;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;

      @media (max-width: 500px) {
        display: block;
        margin: 0 auto;
      }

      &:hover,
      &:focus {
        font-size: 15px;
        border: 2px solid;
        background: #FFFFFF;
        color: #2A2B30;
      }
    }
  
    &__more {
      width: 183px;
      height: 43px;
      background: #FFFFFF;
      border: 1px solid #6F6D7B;
      color: #2A2B30;

      @media (max-width: 500px) {
        display: block;
        margin: 20px auto;
      }

      &:hover,
      &:focus {
        font-size: 15px;
        border: 2px solid;
        background: #3E9CDC;
        color: #FFFFFF;
      }
    }
  }

  .animation-text {
    animation-name: slideInLeft;
    animation-duration: 2s;

  }

}

// Main

main {
  max-width: 1920px;
  min-height: 920px;
  background-image: url(assets/bg-main.jpg);
  background-position: center;
}

.content {
  max-width: 1172px;
  height: 100%;
  margin: 0 auto;
  padding-top: 120px;

  @media (max-width: 820px) {
    padding-top: 60px;
   }

  &__title {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    padding: 0 20px;

    span {
      color: #3E9CDC;
    }
  }

  &__text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #BBBBBB;
    margin-bottom: 80px;
    padding: 0 20px;

    @media (max-width: 820px) {
     margin-bottom: 30px;
    }
  }


  .scheme {
    display: flex;
    justify-content: space-around;

    @media (max-width: 768px) {
      flex-direction: column;
    }
// 
    &__item-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      flex: 0 0 20%;
      padding: 0 10px;
      position: relative;

      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background: #3E9CDC;
      border-radius: 50%;
      border: 5px solid #286690;
      margin-bottom: 20px;
      transition: .2s;
      
      &:hover {
        transform: scale(1.2);
      }
    }

    &__text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      margin: 0 auto;

      &::after {
        display: block;
        content: "";
        background: url(assets/dots.svg);
        background-size: cover;
        width: 50%;
        height: 6px;
        position: absolute;
        top: 50px;
        left: 101%;
        transform: translate(-50%,-50%);
        z-index: 0;

        @media (max-width: 1110px) {
          left: 105%;
        }

        @media (max-width: 980px) {
          left: 110%;
        }
        @media (max-width: 860px) {
          left: 117%;
        }
        @media (max-width: 768px) {
          content: none;
        }
      }

      &--last {
        &::after {
          content: none;
        }
      }
    }
  }
}

.form {
  margin: 100px 30px 0;
  padding-bottom: 60px;

  @media (max-width: 820px) {
    margin-top: 50px;
  }
}

// не мой код

.wrapp-select {
  max-height: 228px;
  display: flex;
  justify-content: space-between;
  
  @media (max-width: 768px) {
    display: block;
    margin: 20px auto;
  }
}

.__select {
  position: relative;
  width: 30%;
  max-width: 364px;
  height: 48px;

  @media (max-width: 768px) {
    max-width: 90%;
    width: 90%;
    margin: 20px auto;
  }

  &[data-state="active"] {
    .__select__title {
      color: #FFFFFF;
      background: rgba(61, 64, 80, 0.85);
      border: none;

      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    
    .__select__content {
      opacity: 1;
    }
    
    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 6px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  box-sizing: border-box;
  
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    background-color: #272733;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;
    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    

    &::before,
    &::after {
      background-color:#43ABF0;
    }
  }
}

.__select__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;

  background: rgba(39, 39, 51, 0.9);
  border: 1px solid #3D4050;
  border-radius: 3px;
  
  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding-left: 10px;
  color: #FFFFFF;
  background: rgba(39, 39, 51, 0.9);
  transition: all 0.2s ease-out;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  
  cursor: pointer;
  
  overflow: hidden;

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    color: #3E9CDC;
  }
}

.email,
.user-name {
  max-width: 370px;
  width: 30%;
  height: 48px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  margin-left: 20px;

  @media (max-width: 768px) {
    display: block;
    width: 90%;
    max-width: 90%;
    margin: 20px auto;
  }
}

// ползунок, тоже не мой код

.wrap-bottom {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    max-width: 90%;
    width: 90%;
    margin: 30px auto;
  }
}

.slide-container {
  width: 65%; 
  margin-right: 30px;

  @media (max-width: 768px) {
    width: 100%;
    margin: 20px auto;
  }

  .value-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
    }
  
    #demo {
      font-weight: 400;
    }
  }
}

.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 6px; 
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  outline: none; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 18px; 
  height: 18px; 
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px; 
  height: 18px; 
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
  cursor: pointer; 
}

// добавить файл

.file {
  display: flex;
  width: 30%;
  max-width: 368px;
  height: 46px;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
  }
}
  
  .file-attach{
    width: 100%;
    
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center;

    input[type=file]{
      width: 0;
      height: 0;
      outline:0;
      opacity:0;
      pointer-events:none;
      user-select:none
    }
}
  
  .file-icon{
    width: 25px;
    height: 25px;
  }
  
  .file-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color:#272733;
    transition:200ms color;
    display: block;
    margin-left: 8px;
}

.btn__submit {
  max-width: 370px;
  width: 80%;
  height: 48px;
  margin: 0 auto;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;

  &:hover,
  &:focus {
    font-size: 15px;
    border: 2px solid;
    background: #FFFFFF;
    color: #2A2B30;
  }
}

// футер

.container-footer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  min-height: 80px;
  background: #3D4050;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 30px;
}

.footer {
  display: flex;
  max-width: 1172px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
    margin: 0 auto;
  }

  &__copyright {
    max-width: 30%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;

    @media (max-width: 768px) {
      display: block;
      max-width: 80%;
      width: 80%;
      margin:0 auto;
      text-align: center;
      padding-top: 20px;
    }
  }

  &__payment {
    width: 40%;
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;

    @media (max-width: 1155px) {
      width: 25%;
    }

    @media (max-width: 768px) {
      width: 60%;
      margin: 20px auto;
      border: none;
    }
  }

  &__payment-item {
    display: flex;
    align-items: center;
    
    span {
      margin-left: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #C3C3C3;

      @media (max-width: 1155px) {
        display: none;
      }
    }
  }

  &__contacts {
    width: 30%;
    display: flex;
    justify-content: space-around;
    
    @media (max-width: 1155px) {
      width: 35%;
    }

    @media (max-width: 768px) {
      width: 60%;
      margin: 0 auto;
      padding-bottom: 15px;
    }

    @media (max-width: 500px) {
      display: block;
    }
  }

  &__contacts-item {
    display: flex;
    align-items: center;
    margin-left: 10px;

    @media (max-width: 500px) {
      justify-content: center;
    }

    span {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}



// Animation===================

@keyframes bouncing{
  0% { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
  100% {bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}

.jump-button {
  &:hover {
    animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-130%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}